* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* White background */
}

.main-container {
    text-align: center;
}

#demo {
    font-size: 5rem;
    font-weight: 700;
    color: #333333;
}

/* Hide extra things by CSS if they aren't removed from HTML yet */
.overlay, .glass-card > .title, .glass-card > .message {
    display: none;
}

